body{
    background-image: url("../imgs/sfondoprogetto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav nav div div img {
    max-height: 50px;
}
.color{
    background-color: #AEB9A9;
}
#alpha{
    padding: 0;
}

.header{
    background-color: #1B2025;
    display: flex;
    justify-content: center;
    color: #AEB9A9;
    padding: 1.5rem;
    font-weight: 900;
}
.bordo{
    margin-top: 50px;
}
footer div {
    padding: 1rem;
    border: 20px;
    background-color: #AEB9A9;
    color: white;
}

article img{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;


}

article div {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

  }
  article div a {
    text-decoration: none;
  }
.remove-padding{
    padding: 0%;
  }
.pippo {
    background-color: #AEB9A9;
  }
  footer img{
    max-height: 50px;
  }

div.footerdiv {
    display: flex;
    justify-content: center;
    flex-direction: row; /* Imposta la direzione dei flex container su riga */
}

div.footerdiv > div {
    margin: 0 10px; /* Aggiunge uno spazio tra i loghi */
}
footer {
    height: fit-content;
    display: flex;
    border: 2px solid black; /* Specificato lo stile e il colore del bordo */
    color: white;
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   }
footer img{
  max-height: 50px;
}
footer {
    background-color: #AEB9A9;
    padding: 20px;
    text-align: center;
}

.footerdiv {
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    margin-top: 3vw;
}

.footerdiv > div {
    flex: 1;
}
.footer-info {
    margin-top: 3vw;
    margin-left: 10vw;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: left;
}

.info-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.info-list {
    list-style-type: none;
    padding: 0;
}

.footer-copyright {
    display: flex;
    font-size: 12px;
    margin-top: auto;
}
div.orari{
margin-top:2vw;
}
div.footerdiv div {
    margin-left:2vw;
}